@charset "utf-8";
body,ul,li,h1,h2{margin:0;padding:0;}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
	color: #FFF;
}
body{
	margin:0 auto;
	width:900px;
	background-color: #FFF;
	dont:100%/1.4helvetica,arial,sans-serif;
}
header{
	background: #CCC;
	padding:20px;
}
nav{
	float:left;
	width:900px;
	height: 50px;
	background-color: #999;
	line-height: 50px;
}
nav li a{
	display: block;
	float: left;
	padding: 5px 10px;
}
section{
	float:left;
	width: 660px;
	height:260px;
	background-color: #CCC;
}
article{
	float:left;
	width: 560px;
	margin-left: 0 0 0 30px;
	padding:20px 0;
}
aside{
	float:right;
	width:240px;
	height:260px;
	background-color:#AAA;
}
aside a{
	display: block;
	height: 30px;
	margin-left:50px;
	padding: 20px;
}
footer{
	clear: both;
	background: #999;
	text-align: center;
	padding: 20px;
	height: 1%;
}
footer ul li{
	display: inline;
	margin:0 15px;
}


/* CSS Document */

